* {
	padding: 0;
	margin: 0;
}
body {
	background-color: #d1d1d1;
	font-size: 30px;
	font-family: sans-serif;

}
span {
	font-weight: bold;
}
header {
	width: 1160px;
	background-color: #fff;
	margin-left: auto;
	margin-right: auto;
}
.wrapper {
	width: 1060px;
	background-color: #fff;
	padding: 50px;
	margin-left: auto;
	margin-right: auto;
}
.header_bg {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}
.main_content {
	width: 1050px;
	margin-left: auto;
	margin-right: auto;	
	padding-top: 50px;
}
.p1{
	text-align: center;
	margin-bottom: 30px;
}
.p2 {
 	width: 960px;
 	margin-bottom: 30px;
}
.service_1 {
	float: left;
	width: 510px;
	margin-right: 15px;
	margin-bottom: 50px;
}

.service_2 {
	float: right;
	width: 510px;
	margin-left: 15px;
	margin-bottom: 50px;
}
.service_clear {
	clear: both;
}

.button {
	width: 510px;
	height: 50px;
	background-color: #cf5b4e;
	border: 1px solid #cf5b4e;
	border-radius: 7px;
	text-align: center;
	padding: 20px 0 4px 0;
	margin-top: 50px;
}
.button_name {
	text-decoration: none;
	color: #fff;
	font-weight: bold;
}
.service_3 {
	float: left;
	width: 320px;
	margin-right: 45px;
}
.service_4 {
	display: inline-block;
	width: 320px;
	margin-left: auto;
	margin-right: auto;
}
.service_5 {
	float: right;
	width: 320px;
	margin-left: 45px;
}
.button_2_1 {
	width: 320px;
	height: 50px;
	background-color: #cf5b4e;
	border: 1px solid #cf5b4e;
	border-radius: 7px;
	text-align: center;
	padding: 20px 0 4px 0;
	margin-top: 50px;
}
.button_2_2{
	width: 320px;
	height: 50px;
	background-color: #cf5b4e;
	border: 1px solid #cf5b4e;
	border-radius: 7px;
	text-align: center;
	padding: 20px 0 4px 0;
	margin-top: 22px;
}
.button_2_3{
	width: 320px;
	height: 50px;
	background-color: #cf5b4e;
	border: 1px solid #cf5b4e;
	border-radius: 7px;
	text-align: center;
	padding: 20px 0 4px 0;
	margin-top: 22px;
}
.footer {
	width: 1060px;
	background-color: #fff;
	margin-left: auto;
	margin-right: auto;
	padding: 50px;
}
.footer_1 {
	margin-bottom: 25px;
}
.footer_2 {
	font-style: italic;
	margin-bottom: 80px;
}
.button_footer {
	width: 1060px;
	height: 50px;
	background-color: #cf5b4e;
	border: 1px solid #cf5b4e;
	border-radius: 7px;
	text-align: center;
	padding: 25px 0 4px 0;
	margin-bottom: 50px;
}
.footer_cancel {
	text-align: center;
	color: #fff;
	font-weight: bold;
	margin-top: 75px;
	margin-bottom: 50px;
}
.footer_cancel_link {
	color: #fff;

}

